
body {
        animation: fade_in ease 1s,
    font-size: 100%;
  font-family: monospace;
  font-weight: 700;
    line-height: 3em;
  letter-spacing: 0.5em;
    background-image: url(tile_red.png);
}

div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

 img {
    width: 100%;
     transform: invert;
       animation: fade_in ease 4s;

}

p {
       animation: fade_in_delay ease 4s;
    text-shadow: 1px 1px white,
        3px 3px white,
         2px 2px white,       
        4px 4px white;
}

@keyframes wait_in {
    0% { opacity: 0; }
    100% { opacity: 0; }
}


@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes fade_in_delay {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}



